@import "tailwindcss";

@font-face {
  font-family: "Besta Baru";
  src: url("/src/assets/fonts/BestaBaru.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BudmoJigglish";
  src: url("/src/assets/fonts/budmo jigglish.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

